a {
    color: rgb(240, 53, 240);
}
article {
    margin: 16pt auto;
    padding: 16pt;
    border: 2px solid rgb(255,255,255);
    max-width: 960px;
    background-color: rgba(0,0,0,0.95);
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0,0,0);
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background-image: url("images/424px-mascot_konqi-dev-kde-transparent.png");
}
div#arch_fluxbox_menu_image {
    justify-content: center;
}
div.blackarch_content {
    /* position: absolute; */
    top: 0px;
    width: 100%;
}
div.container {
    margin: auto;
}
.window {
    background-color: #00FF00;

}
.window header {
    background-color: #000000;
    position: relative;
}
.window header button {
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 48px;
    border:0;
    border-left:1px solid #8883;
    background-color: transparent;
}
.window header button:hover {
    background-color: #8883;
}
.window header button.resize {
    right:48px; 
}
.window header button.minimize {
    right: 96px; 
}
.window > div > img {
    display: block;
    width: 100%;
    /* height: 60px; */
}
.window footer {
    background-color: #0000FF;
}
div.welcome_statement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
h1 {
    color: rgb(0,255,0)
}
h1#headers {
    text-align: center;
}
h2 {
    color: rgb(0,255,0)
}
img {
    max-width: 100%;
}
p {
    color: rgb(0,255,0);
}
p.menu {
    text-align: center;
    border: 2px solid rgb(255,255,255);
    max-width: 960px;
    background-color: rgba(0,0,0,0.95) ;
    margin: 16pt auto;
    padding: 16pt;
    font-size: 36pt;
}
p.imglinks {
    text-align: center;
}
