img {
    max-width: 100%;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(75,75,75);
    font-size: 16pt;
}
p {
    border: 2px solid black;
}
a {
    color: lightgray;
}